body {
    font-family: "Oxanium", sans-serif;
    font-size: 15px;
    background: #222;
    color: white;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    padding-left: 40px;
    background-image: url("rl-logo-ds.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left 0 center;

    filter: drop-shadow(0 0 10px black);
    width: 460px;
    margin: auto;

}

div.select {
    margin: auto;
    width: 500px;
}

select {
    outline: none;
    appearance: none;
    background-color: #333;
    background-image: url("caret-down.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

ul {
    padding: 0;
}

.actionItem {
    margin: auto;
    display: block;
    text-align: left;
    height: 64px;
    background: linear-gradient(0deg, #444 0%, #999 100%);

    width: 500px;
    padding: 0;

    border-radius: 10px;
    margin-bottom: 5px;

    clear: both;
}

.actionItem span {
    filter: drop-shadow(0 0 2px black);
}

.actionItem img {
    float: left;
    padding: 4px 5px;
}

.actionItem .accent {
    transform: skewX(-15deg);
    float: left;
    padding: 0 5px;
    height: 100%;
    margin-right: 10px;
}

.actionItem .team {
    padding: 0 5px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    width: 80px;
}

.actionItem .team span {
    padding: 20px 5px;
    font-size: 20px;

    vertical-align: center;
    display: inline-block;
    line-height: normal;
}

.actionItem div.info {
    overflow: hidden;
    padding: 5px 5px 0;
}

.actionItem span.name {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 0;
    margin-bottom: -25px;
}

.actionItem span.info {
    color: lightgrey;
    display: block;
    margin-bottom: -20px;
}

.actionItem span.info b {
    color: white;
    font-weight: normal;
}

.actionItem span.announcements {
    font-size: 8px;
    line-height: 15px;
    color: lightgray;
    padding:0;
}

.actionItem span.announcements b {
    color: white;
    font-weight: normal;
}

.actionItem span.time {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.actionItem span.time span{
    color: red;
}

.hidden {
    display: none;
}

div.scoreboard {
    width:1000px;
    height: 110px;
    margin: auto;
    font-size: 25px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);"
}

div.left, div.right {
    width: 460px;
    height: 40px;
    padding: 0 20px;
    z-index: 200;
    margin: 15px 0;
    filter: drop-shadow(0 0 10px grey);
    border-radius: 5px;
}

div.team{
    width: 320px;
    height: 30px;
    padding: 5px 5px;
    overflow: hidden;
}

div.team span{
    filter: drop-shadow(0 0 2px black);
}

div.team span.tag {
    display: none;
}

div.score{
    height: 55px;
    width: 60px;
    position: absolute;
    margin-top: -5px;
    padding: 5px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(0deg,#a0a0a0 0%, #ffffff 100%);
    filter: drop-shadow(0 0 2px black);
}

div.score div {
    background: linear-gradient(0deg,#000 0%, #888 100%);
    padding: 0 5px;
    border-radius: 5px;
    height: 55px;
    font-size: 45px;
}

div.score span{
    filter: drop-shadow(0 0 5px grey);
}

div.left {
    float: left;
    text-align: left;
    transform: skewX(10deg);
}

div.left div.team {
    float: left;
}

div.left div.score {
    right: 30px;
}

div.right {
    float: right;
    text-align: right;
    transform: skewX(-10deg);
}
div.right div.team {
    float: right;
    white-space: nowrap;
    direction: rtl;
}

div.right div.score {
    left: 30px;
}

div.center {
    position: absolute;
    z-index: 2;
    left: 460px;
    background: linear-gradient(0deg,#a0a0a0 0%, #ffffff 100%);
    width: 80px;
    margin: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px black);
    font-size: 20px;
    padding: 20px 0 5px 0;
    color: #222;


}

div.center div {
    color: white;
    width: 70px;
    font-size: 15px;
    background-color: #222;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

div.center div.overtime {
    background: darkred;
}

div.center div.overtime:before {
    content : "+"
}

div#fader {
    height: 300px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(0deg,#222f 33%, #2220 100%);
}

@media (max-width: 1000px) {

    div.scoreboard {
        width:500px;
    }

    div.scoreboard div.left, div.scoreboard div.right{
        width: 210px;
    }

    div.scoreboard div.team {
        width: 80px;
    }

    div.scoreboard div.center {
        left: 210px;
    }

    div.scoreboard div.team span.tag {
        display: block;
    }

    div.scoreboard div.team span.name {
        display: none;
    }

}

