$backgroundColor: #222f;
$backgroundColorTransparent: #2220;

$color: white;
$lessColor: lightgrey;
$font: "Oxanium", sans-serif;

$gradientDefault: linear-gradient(0deg, #444 0%, #999 100%);
$gradientSelected: linear-gradient(0deg, #00184D 0%, #5298DD 100%);
$gradientActive: linear-gradient(0deg, #222 0%, #777 100%);
$gradientScoreBoard: linear-gradient(0deg, #a0a0a0 0%, #ffffff 100%);
$gradientScoreBoardDark: linear-gradient(0deg, #000 0%, #888 100%);