name: Gradle run tests

on:
  pull_request:
    branches: [ "main" ]

jobs:

  run-tests:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - uses: gradle/actions/setup-gradle@v3
    - name: Run tests with Gradle
      run: ./gradlew test